/*#################################################################################
############################# CONFIGURAÇÕES GLOBAIS ###############################
###################################################################################*/

:root{
  --primary-color: #031625;
  --secondary-color: #FFFFFF;
  --terceary-color: #395982;
}
